body {
    font-family: 'Fira Sans', serif;
    background: #F57C78;
    color: #f7f7f7;
}

h1 {
    text-align: center;
    font-size: 45px;
}

p {
    text-align: center;
}

.mywebsite {
    text-decoration: none;
    color: #f7f7f7;
    font-weight: 1000;
}
ul {
    list-style-type: none;
    list-style: none;
}
