@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: 'Lato', normal;
    background-color: #FCFDFF;
    color: #273A7F;
    padding: 10px 50px;
}

h1,
h3 {
    border-left: 5px solid #315DFF;
    background-color: #CACACC;
    padding: 10px;
}

img {
    width: 150px;
    height: 200px;
}

p {
    text-align: center;
}

#wrapper {
    width: 800px;
    height: 200px;
    position: relative;
    margin: auto;
}

#moving-pic {
    position: absolute;
}


/*adobe color scheme:
   #7E7E7F - grey
   #315DFF - vibrant blue
   #FCFDFF - white
   #273A7F - dark blue
   #CACACC - dark white
   */