/*
 *  Stylesheet for index.html for CS 4241 Assignment 1
 *
 *  Joseph Swetz
 *  CS 4241 Assignment 1
*/

* {
    font-family: Ubuntu, serif;
}

/*
 * Color palette is from color.adobe.com. A screenshot can be found
 * in this directory at color_palette.png.
 */
h1 {
    color: #75653C;
}

h2 {
    color: #C2A763;
}

h3 {
    color: #F5D37C;
}

a {
   color: #756F5F;
}

body {
    background-color: #F7E9C8;
}