@import url('https://fonts.googleapis.com/css?family=Chivo|Overpass|Abel');

body {
    font-family: Chivo;
    text-align: center;
    margin: 0 auto;
    color: #342E09;
    background-color: #F7E3D4;
}
#content {
    overflow: auto;
    width: 90%;
    margin:auto
}
#education, #classes, #technology, #work, #footer, .heading {
    margin: 1%;
}

#header {
    background-color: #FC7307;
    padding: 75px 0px 25px 0px;
    font-size: xx-large;
}
#education, #classes, #technology, #work, .heading {
    background-color: #efefef;
    padding: 0.5em 0;
}

#footer{
    background-color: #342E09;
    padding: 0.5em 0;
}
p, ul {
    font-family: Overpass;
}
.container {
  width: 100px;
  height: 50px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.gauge-a {
  z-index: 1;
  position: absolute;
  background-color: #F7E3D4;
  width: 100px;
  height: 50px;
  top: 0%;
  border-radius: 50px 50px 0px 0px;
}

.gauge-b {
  z-index: 3;
  position: absolute;
  background-color: #342E09;
  width: 62px;
  height: 31px;
  top: 19px;
  margin-left: 19px;
  margin-right: auto;
  border-radius: 50px 50px 0px 0px;
}

.gauge-c {
  z-index: 2;
  position: absolute;
  background-color: #FBA90A;
  width: 100px;
  height: 50px;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 50px 50px;
  transform-origin: center top;
  transition: all 1.3s ease-in-out;
}

#g-1:hover .gauge-c, #g-2:hover .gauge-c{  
    transform:rotate(90deg);
}
#g-3:hover .gauge-c, #g-6:hover .gauge-c,  #g-7:hover .gauge-c{  
    transform:rotate(180deg);
}


#g-1:hover .gauge-data , #g-2:hover .gauge-data, #g-3:hover .gauge-data, #g-4:hover .gauge-data, #g-6:hover .gauge-data, #g-7:hover .gauge-data { 
    color: rgba(255,255,255,1);
 }
 #g-4:hover .gauge-data , #g-5:hover .gauge-data{
    color: red;
 }

 #g-4:hover .gauge-a , #g-5:hover .gauge-a { 
    transition: all .5s ease-out;
    background-color: lightcoral;
 }

.gauge-data {
  z-index: 4;
  color: rgba(255,255,255,.2);
  font-size: .5em;
  line-height: 6px;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 22px;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease-out;
}

table {
    margin: auto;
    margin-bottom: 5%;
}
table td{
    min-width: 100px;
    height: 100px;
}
table td p {
    font-family: Abel;
    font-size: x-large;
    font-weight: lighter;
}

 .heading::before{
    content: "";
    background-image: url("https://thumbs.dreamstime.com/z/vector-seamless-pattern-red-leaves-autumn-watercolor-hand-drawn-background-45549426.jpg");
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    left:0;
    opacity: 0.50;
    width:100%;
    height: 12%;
}
.heading{
    text-align:left;
    font-size: x-large;
    font-family: Chivo;
    background-color: #F7E3D4;

}
#tech{
    text-align: center;
}
#wo{
    text-align: right;
    margin-right:5%;
}
 .heading h1,  .heading h1, .heading h1 {
    position: relative;
}
#technology {
    overflow-x: auto;
}